<h1 mat-dialog-title>{{ 'ORDERS.ADD_ITEM' | translate }}</h1>
<div mat-dialog-content>
    <form class="item-form">
        <mat-form-field class="example-full-width">
            <mat-label>Choose Burger</mat-label>
            <input type="text" placeholder="Choose Burger" aria-label="Burger" matInput [formControl]="myControl"
                [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let entry of filteredOptions | async" [value]="entry.name"
                    (onSelectionChange)="burgerSelected(entry)">
                    {{ entry.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Quantity</mat-label>
            <input matInput name="quantity" type="number" min="1" max="50" value="1" [(ngModel)]="quantity">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Price</mat-label>
            <input matInput readonly name="quantity" [value]="selectedBurger?.price">
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions align="end">
    <button id="cancelButton" mat-stroked-button (click)="cancel()" color="warn">Cancel</button>
    <button type="submit" mat-raised-button color="primary" cdkFocusInitial (click)="addItem()">
        <mat-icon>add</mat-icon>
        Add
    </button>
</div>