:host {
  width: 95%;
  margin-top: 1rem;
}


.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.add-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.order-contact-container {
  width: 100%;
  margin-top: 2rem;
}

.items-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.entry-header {
  font-size: large;
  line-height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .item-name {
    margin-right: 3rem;
  }

  .quantity {
    margin-right: 2rem;
  }
}

.order-summary {
  display: flex;
  justify-content: flex-end;
}

.backButton {
  margin-right: 1rem;
}

sam-order-contact {
  width: 100%;
  margin-top: 2rem;
}

.confirm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.working {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    margin-bottom: 2rem;
  }
}