<sam-header (navToggled)="snav.toggle()"></sam-header>
<mat-sidenav-container color="primary" class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [opened]="openSideNav" [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <a mat-list-item routerLink="orders">
                <div class="center">
                    <mat-icon>grid_view</mat-icon>
                    <span>{{ 'ORDERS' }}</span>
                </div>
            </a>
            <a mat-list-item [routerLink]="['contacts']">
                <div class="center">
                    <mat-icon>contacts</mat-icon>
                    <span>{{ 'CONTACTS' }}</span>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>